@page
@model HealthTipsPortal.Areas.Identity.Pages.Account.LoginModel
@{
    ViewData["Title"] = "Log in";
}

<div class="glass-box">
    <h1>Welcome Back!</h1>
    <p>Login to your Health Tips Portal</p>

    <form method="post">
        <div class="form-group">
            <input asp-for="Input.Email" class="form-control" placeholder="Email" />
            <span asp-validation-for="Input.Email" class="text-danger"></span>
        </div>
        <div class="form-group mt-3">
            <input asp-for="Input.Password" class="form-control" placeholder="Password" />
            <span asp-validation-for="Input.Password" class="text-danger"></span>
        </div>
        <div class="form-check mt-3">
            <input asp-for="Input.RememberMe" class="form-check-input" />
            <label asp-for="Input.RememberMe" class="form-check-label">Remember Me</label>
        </div>
        <button type="submit" class="btn btn-success mt-4 w-100">Log in</button>
    </form>
</div>
